---
// Imports
import { format } from 'date-fns';
import Layout from "../../layouts/Layout.astro"
import CMS from "../../../lib/cms";
import Markdown from '../../components/Markdown';

interface StaticPaths {
  params: {id: string}
}

export async function getStaticPaths(): Promise<StaticPaths[]> {

  const helpDocs = await CMS.helpDocs();

  return helpDocs.data.map((doc) => {
    return {
      params: {id : doc.id.toString()}
    }
  });
}

const { id } = Astro.params as StaticPaths['params'];
const helpDoc = await CMS.helpDoc(id);

---

<Layout title={`${helpDoc.attributes.title} - MLVET Docs`}>
		<div class="flex flex-col w-screen flex-1 py-12 px-12 max-w-4xl">
      <div class="flex justify-between md:flex-row flex-col items-start md:items-end md:gap-0 gap-2 pb-5">
        <p class="text-3xl font-bold">{helpDoc.attributes.title}</p>
        <div class="flex md:flex-col flex-row items-start md:items-end md:text-right md:gap-0 gap-2">
          <p class="text-sm font-bold">Last Updated</p>
          <p class="text-sm">{format(new Date(helpDoc.attributes.updatedAt), 'dd/MM/yyyy hh:mm aaa')}</p>
        </div>
      </div>
      <Markdown children={helpDoc.attributes.content} />
		</div>
</Layout>