---
// Imports
import Layout from "../../layouts/Layout.astro"
import CMS from "../../../lib/cms";

const helpDocs = await CMS.helpDocs();
---

<Layout title="MLVET | Docs">
		<div class="flex flex-col w-screen">
      <p>Need some help?</p>
			{helpDocs.data.map((doc) => <a href={`/docs/${doc.id}`}>{doc.attributes.title}</a>)}
		</div>
</Layout>