---
// Imports
import Layout from "../../layouts/Layout.astro"
import CMS from "../../../lib/cms";

const helpDocs = await CMS.helpDocCategories();
---

<Layout title="MLVET | Docs">
		<div class="flex flex-col w-screen justify-center max-w-4xl">
			<div class="pt-24">
				<p class="text-5xl font-bold text-center">Need some help?</p>
			</div>
      <div class="flex flex-col pt-20 gap-y-2"> 
				{helpDocs.map((doc) => 
					<div>
						<p>{doc.attributes.name ?? 'None'}</p>
						{doc.attributes.help_doc_articles.data.map((article) => <a class="text-yellow-600 underline" href={`/docs/${article.id}`}>{article.attributes.title}</a>)}
					</div>
				)}
			</div>
		</div>
</Layout>

<!--  -->