---
// Component Imports
import Layout from "../layouts/Layout.astro"
import Hero from "../components/Hero";
import CMS from "../../lib/cms";

const downloadPageContent  =  await CMS.downloadPage();
---
<Layout title="MLVET | Download">
		<div>{JSON.stringify(downloadPageContent)}</div>
</Layout>
