---
// Imports
import Layout from "../layouts/Layout.astro"
import CMS from "../../lib/cms";

const downloadPageContent = await CMS.downloadPage();
---
<Layout title="MLVET | Download">
		<div>{JSON.stringify(downloadPageContent.attributes)}</div>
</Layout>
