---
// Imports
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import CMS from '../../lib/cms'
import ContentBlock from '../components/ContentBlock.astro'
import CallToAction from '../components/CallToAction.astro'

const landingPageContent = await CMS.landingPage()
const contentBlocks = await CMS.landingPageContentBlocks()
---

<Layout title="MLVET">
    <Hero
        tagline={landingPageContent.attributes.tagline}
        downloadButtonText={landingPageContent.attributes.downloadButtonText}
        heroImage={landingPageContent.attributes.heroImage.data}
    />
    <div class="flex flex-col items-stretch max-w-4xl mt-24 w-full px-5">
        {contentBlocks.map((block) => <ContentBlock contentBlock={block} />)}
    </div>
    <CallToAction />
</Layout>
