---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MLVET">
	<main class="flex text-yellow-500 w-full items-center">
		<div class="flex flex-1 items-center justify-center">
			<div class='text-center'>
				<h1 class="text-2xl">MLVET</h1>
				<p class="pt-2 font-mono uppercase">Coming Soon</p>
			</div>
	</div>
		
	</main>
</Layout>