---
import Layout from '../layouts/Layout.astro'
import DownloadButton, {
	DownloadButtonTypes,
} from '../components/DownloadButton.astro'
---

<Layout title="MLVET">
	<main
		class="h-full w-full flex xs:justify-center flex-col pt-12 sm:pt-32 sm:p-16 gap-y-16"
	>
		<img src="./mlvet_logo_transparent.png" class="object-cover md:w-3/4" />
		<div class="flex flex-col gap-y-6 md:flex-row gap-x-4">
			<DownloadButton type={DownloadButtonTypes.WINDOWS} />
			<DownloadButton type={DownloadButtonTypes.MAC} />
			<DownloadButton type={DownloadButtonTypes.LINUX} />
		</div>
	</main>
</Layout>
