---
// Imports
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.astro'
import CMS from '../../lib/cms'

const landingPageContent = await CMS.landingPage()
---

<Layout title="MLVET">
    <Hero
        tagline={landingPageContent.attributes.tagline}
        downloadButtonText={landingPageContent.attributes.downloadButtonText}
        heroImage={landingPageContent.attributes.heroImage.data}
    />
    <div>
        <p>test</p>
    </div>
</Layout>
