---
//Imports
import { ImageData } from "../../shared/sharedTypes";
import PrimaryButton from "./PrimaryButton.astro"; 

interface HeroProps {
    tagline: string;
    downloadButtonText: string;
    heroImage: ImageData[];
}

const {  tagline, downloadButtonText, heroImage } = Astro.props as HeroProps

---
<div class="flex flex-row flex-wrap basis-1/2 w-full bg-grey-600 text-yellow-500 p-5">
    <div class="flex-col flex-1 align-middle justify-between">
        <div class="w-full text-6xl">{tagline} </div>
        <PrimaryButton text={downloadButtonText}/>
    </div>
    <div class="flex-1 bg-grey-900">
        <img src={[...heroImage].pop()?.attributes.url ?? ""}/>
    </div>
</div>