---
interface NavbarProps {}

const {} = Astro.props as NavbarProps
---

<div
    class="flex flex-row bg-grey-600 h-20 items-center w-full justify-between px-6 shadow-md shadow-grey-600"
>
    <img class="object-scale-down h-8" src="mlvet_logo_transparent.png" />
    <div class="flex flex-row justify-end items-center text-yellow-500 gap-6">
        <div>Docs</div>
        <div>Download</div>
        <img class="object-scale-down h-8" src="github-logo.png" />
    </div>
</div>
