---
interface NavbarProps {}

const {} = Astro.props as NavbarProps
---

<div
    class="flex flex-row bg-grey-600 h-20 items-center w-full justify-between px-6 [box-shadow:0_3px_0_0_#3A3A3A]"
>
    <a href="/"
        ><img class="object-scale-down h-8" src="/mlvet_logo_transparent.png" />
    </a>
    <div class="flex flex-row justify-end items-center text-yellow-500 gap-6">
        <a class="hover:underline hover:duration-200 duration-200" href="/docs"
            >Docs</a
        >
        <a
            class="hover:underline hover:duration-200 duration-200"
            href="/download">Download</a
        >
        <a href="https://github.com/chloebrett/mlvet">
            <img class="object-scale-down h-8" src="/github-logo.png" />
        </a>
    </div>
</div>
