---
interface ButtonProps {
    text: string
    link: string
}

const { text, link } = Astro.props as ButtonProps
---

<a href={link}
    ><button
        class="bg-yellow-500 text-grey-700 align-middle text-center px-12 h-12 rounded flex-none shadow-md shadow-[rgba(255,179,85,0.2)]"
    >
        {text}
    </button>
</a>
